In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [75]:
best_in_show = pd.read_csv('best_in_show.csv')

In [76]:
best_in_show.head()

,Dog breed,Unnamed: 1,category,Unnamed: 3,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,Unnamed: 9,...,Unnamed: 59,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
0,Additional info,NaN,American Kennel Club group,NaN,NaN,"1- 173, 1 = most poular, US. American Kennel C...",ranking within breeds with full data only,NaN,"in descending rank (higher score = better), n...",NaN,...,NaN,"if no average lifespan data, then 'no data'",converted to US $ using Google Finance,NaN,averaged across all dog breeds. pet food exclu...,NaN,NaN,NaN,NaN,"Initial outlay: leash, collar, ID tag; food di..."
1,Border Collie,NaN,herding,NaN,3.64,45,39,"$20,143",48%,NaN,...,NaN,"13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
2,Border Terrier,NaN,terrier,NaN,3.61,80,61,"$22,638",14%,NaN,...,NaN,"14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
3,Brittany,NaN,sporting,NaN,3.54,30,30,"$22,589",16%,NaN,...,NaN,"13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,NaN,terrier,NaN,3.53,59,48,"$21,992",22%,NaN,...,NaN,"14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [77]:
best_in_show.describe()

,Unnamed: 1,Unnamed: 3,datadog score,Unnamed: 9,Unnamed: 24,ULTIMATE TOP DATA DOG MEGA RANKING - without kids,ULTIMATE TOP DATA DOG MEGA RANKING - with kids,Unnamed: 30,Unnamed: 36,Unnamed: 46,Unnamed: 59,"total, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £"
count,0.0,0.0,87.000000,0.0,0.0,87.000000,87.000000,0.0,0.0,0.0,0.0,172.0,172.0,172.0,172.0,172.0
mean,NaN,NaN,2.603678,NaN,NaN,43.954023,43.942529,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0
std,NaN,NaN,0.570288,NaN,NaN,25.288065,25.278153,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
min,NaN,NaN,0.990000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0
25%,NaN,NaN,2.185000,NaN,NaN,22.500000,22.500000,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0
50%,NaN,NaN,2.710000,NaN,NaN,44.000000,44.000000,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0
75%,NaN,NaN,3.035000,NaN,NaN,65.500000,65.500000,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0
max,NaN,NaN,3.640000,NaN,NaN,87.000000,87.000000,NaN,NaN,NaN,NaN,784.0,126.0,244.0,177.0,116.0

In [78]:
best_in_show.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 69 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Dog breed                                                         175 non-null    object
 1   Unnamed: 1                                                        0 non-null      float64
 2   category                                                          173 non-null    object
 3   Unnamed: 3                                                        0 non-null      float64
 4   datadog score                                                     87 non-null     float64
 5   POPULARITY IN US                                                  173 non-null    object
 6   POPULARITY IN US.1                                                88 non-null     object
 7   LIFETIME COST, $                                                  172 non-null    object
 8   5 LIFETIME COST                                                   88 non-null     object
 9   Unnamed: 9                                                        0 non-null      float64
 10  1 INTELLIGENCE (TRAINABILITY) ranking                             173 non-null    object
 11  INTELLIGENCE (TRAINABILITY) ranking                               88 non-null     object
 12  2 LONGEVITY                                                       173 non-null    object
 13  LONGEVITY                                                         88 non-null     object
 14  3 NO. OF GENETIC AILMENTS                                         173 non-null    object
 15  GENETIC AILMENTS                                                  88 non-null     object
 16  4a average purchase price, US$                                    173 non-null    object
 17  average purchase price, US$                                       88 non-null     object
 18  4b food costs per year, US$                                       87 non-null     object
 19  food costs per year, US$                                          88 non-null     object
 20  5a grooming required                                              173 non-null    object
 21  grooming required                                                 88 non-null     object
 22  5b suitability for children                                       173 non-null    object
 23  suitability for children                                          88 non-null     object
 24  Unnamed: 24                                                       0 non-null      float64
 25  ULTIMATE TOP DOG MEGA SCORE (with kids)                           88 non-null     object
 26  ULTIMATE TOP DATA DOG MEGA RANKING - without kids                 87 non-null     float64
 27  ULTIMATE TOP DATA DOG MEGA RANKING - with kids                    87 non-null     float64
 28  ULTIMATE TOP DOG MEGA SCORE                                       88 non-null     object
 29  POPULAR RATING                                                    88 non-null     object
 30  Unnamed: 30                                                       0 non-null      float64
 31  size category                                                     172 non-null    object
 32  weight (kg)                                                       173 non-null    object
 33  weight (lbs)                                                      172 non-null    object
 34  shoulder height (cm)                                              172 non-null    object
 35  shoulder height (in)                                              172 non-null    object
 36  Unnamed: 36                                                       0 non-null      float64
 37  note                                                              40 non-null     object
 38  intelligence category                                             172 non-null    object
 39  repetitions to understand new commands                            172 non-null    object
 40  obey first command (% of time)                                    172 non-null    object
 41  longevity sample size - survey sample size                        173 non-null    object
 42  GENETIC DISEASES - congenital ailments: summary / areas affected  173 non-null    object
 43  congenital ailments: summary / areas affected                     173 non-null    object
 44  exclude?                                                          1 non-null      object
 45  most abandoned?                                                   1 non-null      object
 46  Unnamed: 46                                                       0 non-null      float64
 47  4 LIFETIME COST, $                                                172 non-null    object
 48  4 LIFETIME COST                                                   88 non-null     object
 49  average purchase price (US $)                                     173 non-null    object
 50  price bracket                                                     172 non-null    object
 51  lowest (US$)                                                      172 non-null    object
 52  highest (US$)                                                     172 non-null    object
 53  food per week, average, £                                         172 non-null    object
 54  min, £                                                            172 non-null    object
 55  max, £                                                            172 non-null    object
 56  food per week, $                                                  173 non-null    object
 57  food per year, $                                                  87 non-null     object
 58  food per lifetime, $                                              173 non-null    object
 59  Unnamed: 59                                                       0 non-null      float64
 60  Other regular costs, total per lifetime, $                        173 non-null    object
 61  total  per year, $                                                173 non-null    object
 62  total, per year, £                                                172 non-null    float64
 63  toys, presents, treats, per year, £                               173 non-null    object
 64  pet sitters, per year, £                                          172 non-null    float64
 65  grooming, per year, £                                             172 non-null    float64
 66  vet fees per year, £                                              172 non-null    float64
 67  kennels per year, £                                               172 non-null    float64
 68  one offs, $                                                       173 non-null    object
dtypes: float64(16), object(53)
memory usage: 94.5+ KB

In [79]:
best_clean = best_in_show.copy()

In [80]:
#dropping unneeded columns
best_clean.drop(['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 9', 'Unnamed: 24', 'Unnamed: 30', 'Unnamed: 36', 'Unnamed: 46', 'Unnamed: 59'], axis=1, inplace=True)

In [81]:
best_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 61 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Dog breed                                                         175 non-null    object
 1   category                                                          173 non-null    object
 2   datadog score                                                     87 non-null     float64
 3   POPULARITY IN US                                                  173 non-null    object
 4   POPULARITY IN US.1                                                88 non-null     object
 5   LIFETIME COST, $                                                  172 non-null    object
 6   5 LIFETIME COST                                                   88 non-null     object
 7   1 INTELLIGENCE (TRAINABILITY) ranking                             173 non-null    object
 8   INTELLIGENCE (TRAINABILITY) ranking                               88 non-null     object
 9   2 LONGEVITY                                                       173 non-null    object
 10  LONGEVITY                                                         88 non-null     object
 11  3 NO. OF GENETIC AILMENTS                                         173 non-null    object
 12  GENETIC AILMENTS                                                  88 non-null     object
 13  4a average purchase price, US$                                    173 non-null    object
 14  average purchase price, US$                                       88 non-null     object
 15  4b food costs per year, US$                                       87 non-null     object
 16  food costs per year, US$                                          88 non-null     object
 17  5a grooming required                                              173 non-null    object
 18  grooming required                                                 88 non-null     object
 19  5b suitability for children                                       173 non-null    object
 20  suitability for children                                          88 non-null     object
 21  ULTIMATE TOP DOG MEGA SCORE (with kids)                           88 non-null     object
 22  ULTIMATE TOP DATA DOG MEGA RANKING - without kids                 87 non-null     float64
 23  ULTIMATE TOP DATA DOG MEGA RANKING - with kids                    87 non-null     float64
 24  ULTIMATE TOP DOG MEGA SCORE                                       88 non-null     object
 25  POPULAR RATING                                                    88 non-null     object
 26  size category                                                     172 non-null    object
 27  weight (kg)                                                       173 non-null    object
 28  weight (lbs)                                                      172 non-null    object
 29  shoulder height (cm)                                              172 non-null    object
 30  shoulder height (in)                                              172 non-null    object
 31  note                                                              40 non-null     object
 32  intelligence category                                             172 non-null    object
 33  repetitions to understand new commands                            172 non-null    object
 34  obey first command (% of time)                                    172 non-null    object
 35  longevity sample size - survey sample size                        173 non-null    object
 36  GENETIC DISEASES - congenital ailments: summary / areas affected  173 non-null    object
 37  congenital ailments: summary / areas affected                     173 non-null    object
 38  exclude?                                                          1 non-null      object
 39  most abandoned?                                                   1 non-null      object
 40  4 LIFETIME COST, $                                                172 non-null    object
 41  4 LIFETIME COST                                                   88 non-null     object
 42  average purchase price (US $)                                     173 non-null    object
 43  price bracket                                                     172 non-null    object
 44  lowest (US$)                                                      172 non-null    object
 45  highest (US$)                                                     172 non-null    object
 46  food per week, average, £                                         172 non-null    object
 47  min, £                                                            172 non-null    object
 48  max, £                                                            172 non-null    object
 49  food per week, $                                                  173 non-null    object
 50  food per year, $                                                  87 non-null     object
 51  food per lifetime, $                                              173 non-null    object
 52  Other regular costs, total per lifetime, $                        173 non-null    object
 53  total  per year, $                                                173 non-null    object
 54  total, per year, £                                                172 non-null    float64
 55  toys, presents, treats, per year, £                               173 non-null    object
 56  pet sitters, per year, £                                          172 non-null    float64
 57  grooming, per year, £                                             172 non-null    float64
 58  vet fees per year, £                                              172 non-null    float64
 59  kennels per year, £                                               172 non-null    float64
 60  one offs, $                                                       173 non-null    object
dtypes: float64(8), object(53)
memory usage: 83.5+ KB

In [82]:
#dataset after dropping columns
best_clean.head()

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,2 LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
0,Additional info,American Kennel Club group,NaN,"1- 173, 1 = most poular, US. American Kennel C...",ranking within breeds with full data only,NaN,"in descending rank (higher score = better), n...",1 = easiest to train / learn new commands,"in descending rank (higher score = better), n...","years, weighted average - see note",...,food per week x 52.1775 x average lifespan (co...,"if no average lifespan data, then 'no data'",converted to US $ using Google Finance,NaN,averaged across all dog breeds. pet food exclu...,NaN,NaN,NaN,NaN,"Initial outlay: leash, collar, ID tag; food di..."
1,Border Collie,herding,3.64,45,39,"$20,143",48%,1,100%,12.52,...,"3,486","13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
2,Border Terrier,terrier,3.61,80,61,"$22,638",14%,30,70%,14.00,...,"3,898","14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
3,Brittany,sporting,3.54,30,30,"$22,589",16%,19,80%,12.92,...,"5,171","13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,terrier,3.53,59,48,"$21,992",22%,35,61%,13.84,...,"3,854","14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [83]:
#removing unneeded first row
best_clean = best_clean.iloc[1: , :]

In [84]:
best_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 1 to 174
Data columns (total 61 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Dog breed                                                         174 non-null    object
 1   category                                                          172 non-null    object
 2   datadog score                                                     87 non-null     float64
 3   POPULARITY IN US                                                  172 non-null    object
 4   POPULARITY IN US.1                                                87 non-null     object
 5   LIFETIME COST, $                                                  172 non-null    object
 6   5 LIFETIME COST                                                   87 non-null     object
 7   1 INTELLIGENCE (TRAINABILITY) ranking                             172 non-null    object
 8   INTELLIGENCE (TRAINABILITY) ranking                               87 non-null     object
 9   2 LONGEVITY                                                       172 non-null    object
 10  LONGEVITY                                                         87 non-null     object
 11  3 NO. OF GENETIC AILMENTS                                         172 non-null    object
 12  GENETIC AILMENTS                                                  87 non-null     object
 13  4a average purchase price, US$                                    172 non-null    object
 14  average purchase price, US$                                       87 non-null     object
 15  4b food costs per year, US$                                       87 non-null     object
 16  food costs per year, US$                                          87 non-null     object
 17  5a grooming required                                              172 non-null    object
 18  grooming required                                                 87 non-null     object
 19  5b suitability for children                                       172 non-null    object
 20  suitability for children                                          87 non-null     object
 21  ULTIMATE TOP DOG MEGA SCORE (with kids)                           87 non-null     object
 22  ULTIMATE TOP DATA DOG MEGA RANKING - without kids                 87 non-null     float64
 23  ULTIMATE TOP DATA DOG MEGA RANKING - with kids                    87 non-null     float64
 24  ULTIMATE TOP DOG MEGA SCORE                                       87 non-null     object
 25  POPULAR RATING                                                    87 non-null     object
 26  size category                                                     172 non-null    object
 27  weight (kg)                                                       172 non-null    object
 28  weight (lbs)                                                      172 non-null    object
 29  shoulder height (cm)                                              172 non-null    object
 30  shoulder height (in)                                              172 non-null    object
 31  note                                                              39 non-null     object
 32  intelligence category                                             172 non-null    object
 33  repetitions to understand new commands                            172 non-null    object
 34  obey first command (% of time)                                    172 non-null    object
 35  longevity sample size - survey sample size                        172 non-null    object
 36  GENETIC DISEASES - congenital ailments: summary / areas affected  172 non-null    object
 37  congenital ailments: summary / areas affected                     172 non-null    object
 38  exclude?                                                          0 non-null      object
 39  most abandoned?                                                   0 non-null      object
 40  4 LIFETIME COST, $                                                172 non-null    object
 41  4 LIFETIME COST                                                   87 non-null     object
 42  average purchase price (US $)                                     172 non-null    object
 43  price bracket                                                     172 non-null    object
 44  lowest (US$)                                                      172 non-null    object
 45  highest (US$)                                                     172 non-null    object
 46  food per week, average, £                                         172 non-null    object
 47  min, £                                                            172 non-null    object
 48  max, £                                                            172 non-null    object
 49  food per week, $                                                  172 non-null    object
 50  food per year, $                                                  87 non-null     object
 51  food per lifetime, $                                              172 non-null    object
 52  Other regular costs, total per lifetime, $                        172 non-null    object
 53  total  per year, $                                                172 non-null    object
 54  total, per year, £                                                172 non-null    float64
 55  toys, presents, treats, per year, £                               172 non-null    object
 56  pet sitters, per year, £                                          172 non-null    float64
 57  grooming, per year, £                                             172 non-null    float64
 58  vet fees per year, £                                              172 non-null    float64
 59  kennels per year, £                                               172 non-null    float64
 60  one offs, $                                                       172 non-null    object
dtypes: float64(8), object(53)
memory usage: 83.1+ KB

In [85]:
#removed empty row
best_clean.drop([144,], axis=0, inplace=True)

In [86]:
#removed empty row
best_clean.drop([134,], axis=0, inplace=True)

In [87]:
best_clean.head(144)

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,2 LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
1,Border Collie,herding,3.64,45,39,"$20,143",48%,1,100%,12.52,...,"3,486","13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
2,Border Terrier,terrier,3.61,80,61,"$22,638",14%,30,70%,14.00,...,"3,898","14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
3,Brittany,sporting,3.54,30,30,"$22,589",16%,19,80%,12.92,...,"5,171","13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,terrier,3.53,59,48,"$21,992",22%,35,61%,13.84,...,"3,854","14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200
5,Welsh Springer Spaniel,sporting,3.34,130,81,"$20,224",47%,31,69%,12.49,...,"3,478","13,064","1,046",784.0,121,126.0,244.0,177.0,116.0,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Norwegian Elkhound,hound,NaN,96,NaN,no data,NaN,36,NaN,no data,...,no data,no data,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
142,Norwegian Lundehund,non-sporting,NaN,170,NaN,no data,NaN,no data,NaN,no data,...,no data,no data,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
143,Norwich Terrier,terrier,NaN,89,NaN,no data,NaN,38,NaN,no data,...,no data,no data,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
145,Nova Scotia Duck Tolling Retriever,sporting,NaN,107,NaN,"$12,653",NaN,no data,NaN,6.50,...,"2,602","6,799","1,046",784.0,121,126.0,244.0,177.0,116.0,200
146,Otterhound,hound,NaN,169,NaN,no data,NaN,46,NaN,10.80,...,"4,323","11,296","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [88]:
best_clean.isnull().sum()

Dog breed                    0
category                     0
datadog score               85
POPULARITY IN US             0
POPULARITY IN US.1          85
                            ..
pet sitters, per year, £     0
grooming, per year, £        0
vet fees per year, £         0
kennels per year, £          0
one offs, $                  0
Length: 61, dtype: int64

In [89]:
best_clean = best_clean.replace({'no data' : np.nan, 'none' : np.nan, '-' : np.nan})

In [90]:
best_clean.head()

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,2 LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
1,Border Collie,herding,3.64,45,39,"$20,143",48%,1,100%,12.52,...,"3,486","13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
2,Border Terrier,terrier,3.61,80,61,"$22,638",14%,30,70%,14.00,...,"3,898","14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
3,Brittany,sporting,3.54,30,30,"$22,589",16%,19,80%,12.92,...,"5,171","13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,terrier,3.53,59,48,"$21,992",22%,35,61%,13.84,...,"3,854","14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200
5,Welsh Springer Spaniel,sporting,3.34,130,81,"$20,224",47%,31,69%,12.49,...,"3,478","13,064","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [91]:
best_clean['LIFETIME COST, $'] = best_clean['LIFETIME COST, $'].fillna(0.0).str.replace('[$,]', '').astype('float')

C:\Users\Alyson\AppData\Local\Temp\ipykernel_14060\43280114.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  best_clean['LIFETIME COST, $'] = best_clean['LIFETIME COST, $'].fillna(0.0).str.replace('[$,]', '').astype('float')

In [92]:
best_clean['4a average purchase price, US$'] = best_clean['4a average purchase price, US$'].fillna(0.0).str.replace('[$,]', '').astype('float')

C:\Users\Alyson\AppData\Local\Temp\ipykernel_14060\1242940467.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  best_clean['4a average purchase price, US$'] = best_clean['4a average purchase price, US$'].fillna(0.0).str.replace('[$,]', '').astype('float')

In [93]:
best_clean['4b food costs per year, US$'] = best_clean['4b food costs per year, US$'].fillna(0.0).str.replace('[$,]', '').astype('float')

C:\Users\Alyson\AppData\Local\Temp\ipykernel_14060\3443710139.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  best_clean['4b food costs per year, US$'] = best_clean['4b food costs per year, US$'].fillna(0.0).str.replace('[$,]', '').astype('float')

In [94]:
best_clean.rename(columns={'2 LONGEVITY': 'NUM_LONGEVITY'}, inplace=True)

In [95]:
best_clean.NUM_LONGEVITY = best_clean.NUM_LONGEVITY.replace('1.83 - really?', '1.83')

In [96]:
best_clean[['POPULARITY IN US', '1 INTELLIGENCE (TRAINABILITY) ranking', 'NUM_LONGEVITY', '3 NO. OF GENETIC AILMENTS']].astype(float)

,POPULARITY IN US,1 INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,3 NO. OF GENETIC AILMENTS
1,45.0,1.0,12.52,2.0
2,80.0,30.0,14.00,0.0
3,30.0,19.0,12.92,0.0
4,59.0,35.0,13.84,2.0
5,130.0,31.0,12.49,1.0
...,...,...,...,...
170,32.0,21.0,NaN,1.0
171,99.0,53.0,NaN,0.0
172,100.0,51.0,13.17,0.0
173,92.0,46.0,8.80,0.0
174,155.0,NaN,NaN,NaN

In [97]:
best_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 1 to 174
Data columns (total 61 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Dog breed                                                         172 non-null    object
 1   category                                                          172 non-null    object
 2   datadog score                                                     87 non-null     float64
 3   POPULARITY IN US                                                  172 non-null    object
 4   POPULARITY IN US.1                                                87 non-null     object
 5   LIFETIME COST, $                                                  91 non-null     float64
 6   5 LIFETIME COST                                                   87 non-null     object
 7   1 INTELLIGENCE (TRAINABILITY) ranking                             132 non-null    object
 8   INTELLIGENCE (TRAINABILITY) ranking                               87 non-null     object
 9   NUM_LONGEVITY                                                     136 non-null    object
 10  LONGEVITY                                                         87 non-null     object
 11  3 NO. OF GENETIC AILMENTS                                         148 non-null    object
 12  GENETIC AILMENTS                                                  87 non-null     object
 13  4a average purchase price, US$                                    146 non-null    float64
 14  average purchase price, US$                                       87 non-null     object
 15  4b food costs per year, US$                                       87 non-null     float64
 16  food costs per year, US$                                          87 non-null     object
 17  5a grooming required                                              112 non-null    object
 18  grooming required                                                 87 non-null     object
 19  5b suitability for children                                       112 non-null    object
 20  suitability for children                                          87 non-null     object
 21  ULTIMATE TOP DOG MEGA SCORE (with kids)                           87 non-null     object
 22  ULTIMATE TOP DATA DOG MEGA RANKING - without kids                 87 non-null     float64
 23  ULTIMATE TOP DATA DOG MEGA RANKING - with kids                    87 non-null     float64
 24  ULTIMATE TOP DOG MEGA SCORE                                       87 non-null     object
 25  POPULAR RATING                                                    87 non-null     object
 26  size category                                                     172 non-null    object
 27  weight (kg)                                                       87 non-null     object
 28  weight (lbs)                                                      87 non-null     object
 29  shoulder height (cm)                                              159 non-null    object
 30  shoulder height (in)                                              159 non-null    object
 31  note                                                              39 non-null     object
 32  intelligence category                                             132 non-null    object
 33  repetitions to understand new commands                            132 non-null    object
 34  obey first command (% of time)                                    132 non-null    object
 35  longevity sample size - survey sample size                        133 non-null    object
 36  GENETIC DISEASES - congenital ailments: summary / areas affected  87 non-null     object
 37  congenital ailments: summary / areas affected                     87 non-null     object
 38  exclude?                                                          0 non-null      float64
 39  most abandoned?                                                   0 non-null      float64
 40  4 LIFETIME COST, $                                                91 non-null     object
 41  4 LIFETIME COST                                                   87 non-null     object
 42  average purchase price (US $)                                     146 non-null    object
 43  price bracket                                                     146 non-null    object
 44  lowest (US$)                                                      146 non-null    object
 45  highest (US$)                                                     146 non-null    object
 46  food per week, average, £                                         102 non-null    object
 47  min, £                                                            102 non-null    object
 48  max, £                                                            102 non-null    object
 49  food per week, $                                                  112 non-null    object
 50  food per year, $                                                  87 non-null     object
 51  food per lifetime, $                                              103 non-null    object
 52  Other regular costs, total per lifetime, $                        134 non-null    object
 53  total  per year, $                                                172 non-null    object
 54  total, per year, £                                                172 non-null    float64
 55  toys, presents, treats, per year, £                               172 non-null    object
 56  pet sitters, per year, £                                          172 non-null    float64
 57  grooming, per year, £                                             172 non-null    float64
 58  vet fees per year, £                                              172 non-null    float64
 59  kennels per year, £                                               172 non-null    float64
 60  one offs, $                                                       172 non-null    object
dtypes: float64(13), object(48)
memory usage: 83.3+ KB

In [98]:
best_clean.describe()

,datadog score,"LIFETIME COST, $","4a average purchase price, US$","4b food costs per year, US$",ULTIMATE TOP DATA DOG MEGA RANKING - without kids,ULTIMATE TOP DATA DOG MEGA RANKING - with kids,exclude?,most abandoned?,"total, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £"
count,87.000000,91.000000,146.000000,87.000000,87.000000,87.000000,0.0,0.0,172.0,172.0,172.0,172.0,172.0
mean,2.603678,19819.538462,876.815068,489.597701,43.954023,43.942529,NaN,NaN,784.0,126.0,244.0,177.0,116.0
std,0.570288,3102.475382,461.172524,204.266894,25.288065,25.278153,NaN,NaN,0.0,0.0,0.0,0.0,0.0
min,0.990000,12653.000000,283.000000,270.000000,1.000000,1.000000,NaN,NaN,784.0,126.0,244.0,177.0,116.0
25%,2.185000,17816.500000,587.250000,324.000000,22.500000,22.500000,NaN,NaN,784.0,126.0,244.0,177.0,116.0
50%,2.710000,20087.000000,795.000000,466.000000,44.000000,44.000000,NaN,NaN,784.0,126.0,244.0,177.0,116.0
75%,3.035000,21798.000000,1042.250000,466.000000,65.500000,65.500000,NaN,NaN,784.0,126.0,244.0,177.0,116.0
max,3.640000,26686.000000,3460.000000,1349.000000,87.000000,87.000000,NaN,NaN,784.0,126.0,244.0,177.0,116.0

In [99]:
best_clean.to_csv('best_in_show_clean.csv')

In [100]:
best_clean.sort_values(by=['category'], ascending=True)
best_clean.head()

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
1,Border Collie,herding,3.64,45,39,20143.0,48%,1,100%,12.52,...,"3,486","13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
2,Border Terrier,terrier,3.61,80,61,22638.0,14%,30,70%,14.00,...,"3,898","14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
3,Brittany,sporting,3.54,30,30,22589.0,16%,19,80%,12.92,...,"5,171","13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,terrier,3.53,59,48,21992.0,22%,35,61%,13.84,...,"3,854","14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200
5,Welsh Springer Spaniel,sporting,3.34,130,81,20224.0,47%,31,69%,12.49,...,"3,478","13,064","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [101]:
categories = best_clean.groupby('category')

herding = categories.get_group("herding")

herding

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
1,Border Collie,herding,3.64,45,39,20143.0,48%,1,100%,12.52,...,"3,486","13,095","1,046",784.0,121,126.0,244.0,177.0,116.0,200
9,Australian Cattle Dog,herding,3.25,60,49,20395.0,43%,10,90%,11.67,...,"4,671","12,206","1,046",784.0,121,126.0,244.0,177.0,116.0,200
10,Shetland Sheepdog,herding,3.22,20,20,21006.0,34%,6,94%,12.53,...,"3,698","13,106","1,046",784.0,121,126.0,244.0,177.0,116.0,200
31,Australian Shepherd,herding,2.91,24,24,21458.0,28%,42,52%,12.28,...,"4,915","12,844","1,046",784.0,121,126.0,244.0,177.0,116.0,200
44,Briard,herding,2.71,125,79,19673.0,55%,30,70%,11.17,...,"4,471","11,683","1,046",784.0,121,126.0,244.0,177.0,116.0,200
50,Belgian Tervuren,herding,2.57,108,72,19132.0,61%,14,85%,10.60,...,"4,243","11,087","1,046",784.0,121,126.0,244.0,177.0,116.0,200
57,Bouvier des Flandres,herding,2.47,83,62,18959.0,64%,29,72%,10.34,...,"4,139","10,815","1,046",784.0,121,126.0,244.0,177.0,116.0,200
58,Pembroke Welsh Corgi,herding,2.45,25,25,23978.0,13%,11,89%,12.25,...,"6,026","12,813","1,046",784.0,121,126.0,244.0,177.0,116.0,200
69,German Shepherd,herding,2.06,2,2,17416.0,80%,3,98%,9.73,...,"3,895","10,177","1,046",784.0,121,126.0,244.0,177.0,116.0,200
71,Old English Sheepdog,herding,2.04,84,63,22611.0,15%,63,21%,11.19,...,"6,816","11,704","1,046",784.0,121,126.0,244.0,177.0,116.0,200
95,Bearded Collie,herding,NaN,112,NaN,NaN,NaN,34,NaN,12.77,...,"5,111","13,357","1,046",784.0,121,126.0,244.0,177.0,116.0,200
96,Beauceron,herding,NaN,144,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
97,Belgian Malinois,herding,NaN,74,NaN,NaN,NaN,22,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
98,Belgian Sheepdog,herding,NaN,118,NaN,NaN,NaN,15,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
103,Canaan Dog,herding,NaN,168,NaN,NaN,NaN,NaN,NaN,14.67,...,"5,872","15,344","1,046",784.0,121,126.0,244.0,177.0,116.0,200
105,Cardigan Welsh Corgi,herding,NaN,81,NaN,NaN,NaN,26,NaN,12.70,...,NaN,"13,284","1,046",784.0,121,126.0,244.0,177.0,116.0,200
109,Collie,herding,NaN,36,NaN,NaN,NaN,16,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
112,Entlebucher Mountain Dog,herding,NaN,146,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
114,Finnish Lapphund,herding,NaN,104,NaN,NaN,NaN,NaN,NaN,7.33,...,"2,934","7,667","1,046",784.0,121,126.0,244.0,177.0,116.0,200
124,Icelandic Sheepdog,herding,NaN,143,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
140,Norwegian Buhund,herding,NaN,165,NaN,NaN,NaN,NaN,NaN,12.67,...,NaN,"13,252","1,046",784.0,121,126.0,244.0,177.0,116.0,200
150,Polish Lowland Sheepdog,herding,NaN,159,NaN,NaN,NaN,NaN,NaN,10.80,...,"4,323","11,296","1,046",784.0,121,126.0,244.0,177.0,116.0,200
152,Puli,herding,NaN,156,NaN,NaN,NaN,27,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
153,Pyrenean Shepherd,herding,NaN,162,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
166,Swedish Vallhund,herding,NaN,153,NaN,22839.0,NaN,NaN,NaN,14.17,...,"3,946","14,821","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [102]:
categories = best_clean.groupby('category')

hound = categories.get_group("hound")

hound

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
14,Dachshund,hound,3.19,9,9,20113.0,49%,49,37%,12.63,...,"3,517","13,210","1,046",784.0,121,126.0,244.0,177.0,116.0,200
18,Whippet,hound,3.11,57,46,20976.0,38%,51,34%,12.87,...,"3,584","13,461","1,046",784.0,121,126.0,244.0,177.0,116.0,200
34,Pharaoh Hound,hound,2.81,151,86,21047.0,33%,37,56%,11.83,...,"4,735","12,374","1,046",784.0,121,126.0,244.0,177.0,116.0,200
38,Beagle,hound,2.79,3,3,19468.0,59%,73,9%,12.30,...,"3,425","12,865","1,046",784.0,121,126.0,244.0,177.0,116.0,200
53,Basset Hound,hound,2.54,41,36,18328.0,74%,71,11%,11.43,...,"3,183","11,955","1,046",784.0,121,126.0,244.0,177.0,116.0,200
54,Basenji,hound,2.51,93,68,22096.0,18%,79,2%,13.58,...,"3,781","14,204","1,046",784.0,121,126.0,244.0,177.0,116.0,200
61,Saluki,hound,2.41,117,75,24866.0,7%,43,49%,12.00,...,"7,309","12,551","1,046",784.0,121,126.0,244.0,177.0,116.0,200
63,Greyhound,hound,2.29,140,85,15819.0,92%,46,43%,9.36,...,"2,606","9,790","1,046",784.0,121,126.0,244.0,177.0,116.0,200
67,Afghan Hound,hound,2.08,88,66,24077.0,11%,80,1%,11.92,...,"7,260","12,468","1,046",784.0,121,126.0,244.0,177.0,116.0,200
73,Rhodesian Ridgeback,hound,1.91,44,38,16530.0,85%,52,33%,9.10,...,"3,642","9,518","1,046",784.0,121,126.0,244.0,177.0,116.0,200
75,Borzoi,hound,1.89,102,71,16176.0,87%,76,6%,9.08,...,"3,634","9,497","1,046",784.0,121,126.0,244.0,177.0,116.0,200
81,Bloodhound,hound,1.66,48,42,13824.0,98%,75,7%,6.75,...,"4,111","7,060","1,046",784.0,121,126.0,244.0,177.0,116.0,200
82,Irish Wolfhound,hound,1.66,79,60,18435.0,70%,41,53%,6.94,...,"7,246","7,259","1,046",784.0,121,126.0,244.0,177.0,116.0,200
89,American English Coonhound,hound,NaN,33,NaN,NaN,NaN,NaN,NaN,11.5,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
91,American Foxhound,hound,NaN,173,NaN,NaN,NaN,46,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
99,Black and Tan Coonhound,hound,NaN,109,NaN,NaN,NaN,44,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
101,Bluetick Coonhound,hound,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
111,English Foxhound,hound,NaN,171,NaN,NaN,NaN,46,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
121,Harrier,hound,NaN,172,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
123,Ibizan Hound,hound,NaN,149,NaN,NaN,NaN,53,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
141,Norwegian Elkhound,hound,NaN,96,NaN,NaN,NaN,36,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
146,Otterhound,hound,NaN,169,NaN,NaN,NaN,46,NaN,10.80,...,"4,323","11,296","1,046",784.0,121,126.0,244.0,177.0,116.0,200
148,Petit Basset Griffon Vendeen,hound,NaN,131,NaN,NaN,NaN,62,NaN,12.70,...,NaN,"13,284","1,046",784.0,121,126.0,244.0,177.0,116.0,200
149,Plott,hound,NaN,145,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
154,Redbone Coonhound,hound,NaN,126,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
156,Scottish Deerhound,hound,NaN,142,NaN,NaN,NaN,47,NaN,8.70,...,NaN,"9,100","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [103]:
categories = best_clean.groupby('category')

non_sporting = categories.get_group("non-sporting")

non_sporting

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
12,Lhasa Apso,non-sporting,3.21,62,50,22031.0,21%,68,15%,13.92,...,"3,876","14,560","1,046",784.0,121,126.0,244.0,177.0,116.0,200
22,Poodle,non-sporting,3.04,8,8,21237.0,31%,2,99%,11.95,...,"4,783","12,499","1,046",784.0,121,126.0,244.0,177.0,116.0,200
23,Bichon Frise,non-sporting,3.03,39,34,19735.0,54%,45,45%,12.21,...,"3,400","12,771","1,046",784.0,121,126.0,244.0,177.0,116.0,200
26,Tibetan Spaniel,non-sporting,3.02,114,73,25549.0,5%,46,43%,14.42,...,"5,772","15,083","1,046",784.0,121,126.0,244.0,177.0,116.0,200
40,Tibetan Terrier,non-sporting,2.75,86,64,20336.0,44%,62,22%,12.31,...,"3,428","12,876","1,046",784.0,121,126.0,244.0,177.0,116.0,200
47,Boston Terrier,non-sporting,2.61,22,22,17741.0,77%,54,31%,10.92,...,"3,041","11,422","1,046",784.0,121,126.0,244.0,177.0,116.0,200
52,Dalmatian,non-sporting,2.57,73,57,19886.0,53%,39,55%,11.27,...,"4,511","11,788","1,046",784.0,121,126.0,244.0,177.0,116.0,200
74,French Bulldog,non-sporting,1.90,18,18,17266.0,82%,58,28%,9.00,...,"3,602","9,414","1,046",784.0,121,126.0,244.0,177.0,116.0,200
80,Chow Chow,non-sporting,1.76,68,54,15898.0,91%,77,5%,9.01,...,"3,606","9,424","1,046",784.0,121,126.0,244.0,177.0,116.0,200
87,Bulldog,non-sporting,0.99,6,6,13479.0,100%,78,3%,6.29,...,"2,518","6,579","1,046",784.0,121,126.0,244.0,177.0,116.0,200
90,American Eskimo Dog,non-sporting,NaN,116,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
108,Chinese Shar Pei,non-sporting,NaN,50,NaN,NaN,NaN,51,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
115,Finnish Spitz,non-sporting,NaN,167,NaN,NaN,NaN,43,NaN,11.17,...,"4,471","11,683","1,046",784.0,121,126.0,244.0,177.0,116.0,200
129,Keeshond,non-sporting,NaN,98,NaN,NaN,NaN,16,NaN,12.17,...,NaN,"12,729","1,046",784.0,121,126.0,244.0,177.0,116.0,200
135,Löwchen,non-sporting,NaN,152,NaN,NaN,NaN,NaN,NaN,10.00,...,NaN,"10,459","1,046",784.0,121,126.0,244.0,177.0,116.0,200
142,Norwegian Lundehund,non-sporting,NaN,170,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
155,Schipperke,non-sporting,NaN,105,NaN,NaN,NaN,15,NaN,13.00,...,NaN,"13,597","1,046",784.0,121,126.0,244.0,177.0,116.0,200
158,Shiba Inu,non-sporting,NaN,53,NaN,NaN,NaN,NaN,NaN,7.00,...,NaN,"7,322","1,046",784.0,121,126.0,244.0,177.0,116.0,200
174,Xoloitzcuintli,non-sporting,NaN,155,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [104]:
categories = best_clean.groupby('category')

sporting = categories.get_group("sporting")

sporting

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
3,Brittany,sporting,3.54,30,30,22589.0,16%,19,80%,12.92,...,"5,171","13,514","1,046",784.0,121,126.0,244.0,177.0,116.0,200
5,Welsh Springer Spaniel,sporting,3.34,130,81,20224.0,47%,31,69%,12.49,...,"3,478","13,064","1,046",784.0,121,126.0,244.0,177.0,116.0,200
6,English Cocker Spaniel,sporting,3.33,63,51,18993.0,63%,18,82%,11.66,...,"3,247","12,196","1,046",784.0,121,126.0,244.0,177.0,116.0,200
7,Cocker Spaniel,sporting,3.30,27,27,24330.0,9%,20,79%,12.50,...,"6,149","13,074","1,046",784.0,121,126.0,244.0,177.0,116.0,200
19,English Springer Spaniel,sporting,3.09,29,29,21946.0,24%,13,86%,12.54,...,"5,019","13,116","1,046",784.0,121,126.0,244.0,177.0,116.0,200
24,German Shorthaired Pointer,sporting,3.03,15,15,25842.0,3%,17,84%,11.46,...,"8,117","11,987","1,046",784.0,121,126.0,244.0,177.0,116.0,200
25,Pointer,sporting,3.03,115,74,24445.0,8%,43,49%,12.42,...,"7,565","12,991","1,046",784.0,121,126.0,244.0,177.0,116.0,200
27,Labrador Retriever,sporting,2.97,1,1,21299.0,30%,7,93%,12.04,...,"4,819","12,593","1,046",784.0,121,126.0,244.0,177.0,116.0,200
33,Irish Setter,sporting,2.84,70,56,20323.0,45%,35,61%,11.63,...,"4,655","12,164","1,046",784.0,121,126.0,244.0,177.0,116.0,200
36,Golden Retriever,sporting,2.80,4,4,21447.0,29%,4,97%,12.04,...,"4,819","12,593","1,046",784.0,121,126.0,244.0,177.0,116.0,200
39,Chesapeake Bay Retriever,sporting,2.78,46,40,16697.0,84%,27,75%,9.48,...,"3,794","9,916","1,046",784.0,121,126.0,244.0,177.0,116.0,200
41,Gordon Setter,sporting,2.73,94,69,19605.0,56%,34,64%,11.10,...,"4,443","11,610","1,046",784.0,121,126.0,244.0,177.0,116.0,200
42,English Setter,sporting,2.72,87,65,20312.0,46%,37,56%,11.57,...,"4,631","12,102","1,046",784.0,121,126.0,244.0,177.0,116.0,200
46,Flat-Coated Retriever,sporting,2.70,90,67,16000.0,90%,18,82%,9.02,...,"3,610","9,434","1,046",784.0,121,126.0,244.0,177.0,116.0,200
59,Clumber Spaniel,sporting,2.44,133,82,18084.0,75%,37,56%,10.00,...,"4,003","10,459","1,046",784.0,121,126.0,244.0,177.0,116.0,200
93,American Water Spaniel,sporting,NaN,157,NaN,NaN,NaN,44,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
102,Boykin Spaniel,sporting,NaN,138,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
110,Curly Coated Retriever,sporting,NaN,154,NaN,NaN,NaN,41,NaN,10.75,...,"6,548","11,244","1,046",784.0,121,126.0,244.0,177.0,116.0,200
113,Field Spaniel,sporting,NaN,141,NaN,NaN,NaN,34,NaN,9.90,...,"3,963","10,355","1,046",784.0,121,126.0,244.0,177.0,116.0,200
117,German Wirehaired Pointer,sporting,NaN,75,NaN,NaN,NaN,44,NaN,10.00,...,NaN,"10,459","1,046",784.0,121,126.0,244.0,177.0,116.0,200
125,Irish Red and White Setter,sporting,NaN,147,NaN,NaN,NaN,NaN,NaN,11.57,...,NaN,"12,102","1,046",784.0,121,126.0,244.0,177.0,116.0,200
127,Irish Water Spaniel,sporting,NaN,150,NaN,NaN,NaN,24,NaN,9.33,...,"5,683","9,759","1,046",784.0,121,126.0,244.0,177.0,116.0,200
145,Nova Scotia Duck Tolling Retriever,sporting,NaN,107,NaN,12653.0,NaN,NaN,NaN,6.50,...,"2,602","6,799","1,046",784.0,121,126.0,244.0,177.0,116.0,200
163,Spinone Italiano,sporting,NaN,123,NaN,NaN,NaN,NaN,NaN,9.00,...,NaN,"9,414","1,046",784.0,121,126.0,244.0,177.0,116.0,200
165,Sussex Spaniel,sporting,NaN,161,NaN,NaN,NaN,NaN,NaN,11.17,...,"4,471","11,683","1,046",784.0,121,126.0,244.0,177.0,116.0,200
169,Vizsla,sporting,NaN,37,NaN,NaN,NaN,25,NaN,12.50,...,NaN,"13,074","1,046",784.0,121,126.0,244.0,177.0,116.0,200
170,Weimaraner,sporting,NaN,32,NaN,NaN,NaN,21,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
173,Wirehaired Pointing Griffon,sporting,NaN,92,NaN,NaN,NaN,46,NaN,8.80,...,NaN,"9,204","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [105]:
categories = best_clean.groupby('category')

terrier = categories.get_group("terrier")

terrier

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
2,Border Terrier,terrier,3.61,80,61,22638.0,14%,30,70%,14.00,...,"3,898","14,643","1,046",784.0,121,126.0,244.0,177.0,116.0,200
4,Cairn Terrier,terrier,3.53,59,48,21992.0,22%,35,61%,13.84,...,"3,854","14,476","1,046",784.0,121,126.0,244.0,177.0,116.0,200
15,Miniature Schnauzer,terrier,3.19,12,12,20087.0,51%,12,87%,11.81,...,"3,486","12,353","1,046",784.0,121,126.0,244.0,177.0,116.0,200
17,Australian Terrier,terrier,3.11,121,77,17892.0,76%,34,64%,11.05,...,"3,077","11,558","1,046",784.0,121,126.0,244.0,177.0,116.0,200
20,West Highland White Terrier,terrier,3.08,35,32,20490.0,41%,47,41%,12.80,...,"3,564","13,388","1,046",784.0,121,126.0,244.0,177.0,116.0,200
21,Bedlington Terrier,terrier,3.07,134,83,22107.0,17%,40,54%,13.51,...,"3,762","14,131","1,046",784.0,121,126.0,244.0,177.0,116.0,200
45,Norfolk Terrier,terrier,2.71,120,76,24308.0,10%,56,30%,13.07,...,"5,231","13,671","1,046",784.0,121,126.0,244.0,177.0,116.0,200
56,Staffordshire Bull Terrier,terrier,2.48,76,58,21650.0,25%,49,37%,12.05,...,"4,823","12,604","1,046",784.0,121,126.0,244.0,177.0,116.0,200
60,Dandie Dinmont Terrier,terrier,2.42,160,87,21633.0,26%,62,22%,12.17,...,"4,871","12,729","1,046",784.0,121,126.0,244.0,177.0,116.0,200
64,Scottish Terrier,terrier,2.27,54,45,17525.0,78%,65,18%,10.69,...,"2,977","11,181","1,046",784.0,121,126.0,244.0,177.0,116.0,200
66,Kerry Blue Terrier,terrier,2.13,124,78,17240.0,83%,35,61%,9.40,...,"3,762","9,832","1,046",784.0,121,126.0,244.0,177.0,116.0,200
77,Bull Terrier,terrier,1.85,51,44,18490.0,69%,66,17%,10.21,...,"4,087","10,679","1,046",784.0,121,126.0,244.0,177.0,116.0,200
88,Airedale Terrier,terrier,NaN,55,NaN,NaN,NaN,29,NaN,11.45,...,NaN,"11,976","1,046",784.0,121,126.0,244.0,177.0,116.0,200
92,American Staffordshire Terrier,terrier,NaN,72,NaN,NaN,NaN,34,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
106,Cesky Terrier,terrier,NaN,106,NaN,NaN,NaN,NaN,NaN,8.42,...,"3,370","8,807","1,046",784.0,121,126.0,244.0,177.0,116.0,200
118,Glen of Imaal Terrier,terrier,NaN,158,NaN,NaN,NaN,NaN,NaN,10.42,...,NaN,"10,899","1,046",784.0,121,126.0,244.0,177.0,116.0,200
126,Irish Terrier,terrier,NaN,132,NaN,NaN,NaN,53,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
132,Lakeland Terrier,terrier,NaN,135,NaN,NaN,NaN,62,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
136,Manchester Terrier,terrier,NaN,119,NaN,NaN,NaN,32,NaN,9.32,...,NaN,"9,748","1,046",784.0,121,126.0,244.0,177.0,116.0,200
137,Miniature Bull Terrier,terrier,NaN,127,NaN,NaN,NaN,NaN,NaN,6.60,...,NaN,"6,903","1,046",784.0,121,126.0,244.0,177.0,116.0,200
143,Norwich Terrier,terrier,NaN,89,NaN,NaN,NaN,38,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
147,Parson Russell Terrier,terrier,NaN,97,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
157,Sealyham Terrier,terrier,NaN,163,NaN,NaN,NaN,56,NaN,12.25,...,NaN,"12,813","1,046",784.0,121,126.0,244.0,177.0,116.0,200
160,Skye Terrier,terrier,NaN,164,NaN,NaN,NaN,55,NaN,11.00,...,NaN,"11,505","1,046",784.0,121,126.0,244.0,177.0,116.0,200
161,Smooth Fox Terrier,terrier,NaN,113,NaN,NaN,NaN,40,NaN,13.17,...,NaN,"13,775","1,046",784.0,121,126.0,244.0,177.0,116.0,200
162,Soft-Coated Wheaten Terrier,terrier,NaN,52,NaN,NaN,NaN,40,NaN,12.16,...,NaN,"12,719","1,046",784.0,121,126.0,244.0,177.0,116.0,200
171,Welsh Terrier,terrier,NaN,99,NaN,NaN,NaN,53,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
172,Wire Fox Terrier,terrier,NaN,100,NaN,NaN,NaN,51,NaN,13.17,...,NaN,"13,775","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [106]:
categories = best_clean.groupby('category')

toy = categories.get_group("toy")

toy

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
8,Papillon,toy,3.26,38,33,21001.0,36%,8,92%,13.00,...,"3,620","13,597","1,046",784.0,121,126.0,244.0,177.0,116.0,200
13,Affenpinscher,toy,3.20,139,84,18333.0,72%,37,56%,11.42,...,"3,180","11,945","1,046",784.0,121,126.0,244.0,177.0,116.0,200
16,Chihuahua,toy,3.15,14,14,26250.0,2%,67,16%,16.50,...,"4,594","17,258","1,046",784.0,121,126.0,244.0,177.0,116.0,200
28,Maltese,toy,2.93,23,23,19084.0,62%,59,25%,12.25,...,"2,410","12,813","1,046",784.0,121,126.0,244.0,177.0,116.0,200
29,Pomeranian,toy,2.93,17,17,15792.0,93%,23,77%,9.67,...,"2,693","10,114","1,046",784.0,121,126.0,244.0,177.0,116.0,200
30,Shih Tzu,toy,2.93,11,11,21152.0,32%,70,13%,13.20,...,"3,675","13,806","1,046",784.0,121,126.0,244.0,177.0,116.0,200
32,Yorkshire Terrier,toy,2.85,5,5,20701.0,39%,27,75%,12.60,...,"3,508","13,179","1,046",784.0,121,126.0,244.0,177.0,116.0,200
35,Brussels Griffon,toy,2.80,77,59,19551.0,57%,59,25%,12.00,...,"3,341","12,551","1,046",784.0,121,126.0,244.0,177.0,116.0,200
43,Pug,toy,2.72,26,26,18527.0,68%,57,29%,11.00,...,"3,246","11,505","1,046",784.0,121,126.0,244.0,177.0,116.0,200
49,English Toy Spaniel,toy,2.59,129,80,17521.0,79%,45,45%,10.10,...,"2,981","10,564","1,046",784.0,121,126.0,244.0,177.0,116.0,200
51,Cavalier King Charles Spaniel,toy,2.57,21,21,18639.0,67%,44,48%,11.29,...,"3,144","11,809","1,046",784.0,121,126.0,244.0,177.0,116.0,200
55,Italian Greyhound,toy,2.49,65,53,16463.0,86%,60,24%,10.02,...,"2,790","10,480","1,046",784.0,121,126.0,244.0,177.0,116.0,200
70,Pekingese,toy,2.05,64,52,20565.0,40%,74,8%,11.56,...,"4,627","12,091","1,046",784.0,121,126.0,244.0,177.0,116.0,200
107,Chinese Crested,toy,NaN,61,NaN,NaN,NaN,61,NaN,10.08,...,NaN,"10,543","1,046",784.0,121,126.0,244.0,177.0,116.0,200
122,Havanese,toy,NaN,31,NaN,NaN,NaN,NaN,NaN,10.25,...,NaN,"10,721","1,046",784.0,121,126.0,244.0,177.0,116.0,200
128,Japanese Chin,toy,NaN,78,NaN,NaN,NaN,62,NaN,9.25,...,NaN,"9,675","1,046",784.0,121,126.0,244.0,177.0,116.0,200
138,Miniature Pinscher,toy,NaN,42,NaN,NaN,NaN,37,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
159,Silky Terrier,toy,NaN,85,NaN,NaN,NaN,37,NaN,14.25,...,NaN,"14,905","1,046",784.0,121,126.0,244.0,177.0,116.0,200
168,Toy Fox Terrier,toy,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [107]:
categories = best_clean.groupby('category')

working = categories.get_group("working")

working

,Dog breed,category,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,...,"food per lifetime, $","Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
11,Siberian Husky,working,3.22,16,16,22049.0,20%,45,45%,12.58,...,"5,035","13,158","1,046",784.0,121,126.0,244.0,177.0,116.0,200
37,Samoyed,working,2.80,69,55,25352.0,6%,33,68%,12.44,...,"7,577","13,012","1,046",784.0,121,126.0,244.0,177.0,116.0,200
48,Doberman Pinscher,working,2.59,13,13,18397.0,71%,5,95%,10.33,...,"4,135","10,805","1,046",784.0,121,126.0,244.0,177.0,116.0,200
62,Giant Schnauzer,working,2.38,95,70,26686.0,1%,28,74%,10.00,...,"9,838","10,459","1,046",784.0,121,126.0,244.0,177.0,116.0,200
65,Rottweiler,working,2.24,10,10,18886.0,66%,9,91%,9.11,...,"5,549","9,529","1,046",784.0,121,126.0,244.0,177.0,116.0,200
68,Newfoundland,working,2.07,43,37,19351.0,60%,34,64%,9.32,...,"5,677","9,748","1,046",784.0,121,126.0,244.0,177.0,116.0,200
72,Akita,working,1.95,47,41,20994.0,37%,54,31%,10.16,...,"6,188","10,627","1,046",784.0,121,126.0,244.0,177.0,116.0,200
76,Bernese Mountain Dog,working,1.85,34,31,16099.0,89%,22,78%,7.56,...,"4,605","7,907","1,046",784.0,121,126.0,244.0,177.0,116.0,200
78,Boxer,working,1.83,7,7,15746.0,94%,48,39%,8.81,...,"3,526","9,215","1,046",784.0,121,126.0,244.0,177.0,116.0,200
79,Alaskan Malamute,working,1.82,58,47,21986.0,23%,50,36%,10.67,...,"6,499","11,160","1,046",784.0,121,126.0,244.0,177.0,116.0,200
83,Bullmastiff,working,1.64,40,35,13936.0,97%,69,14%,7.57,...,"3,030","7,918","1,046",784.0,121,126.0,244.0,177.0,116.0,200
84,Mastiff,working,1.57,28,28,13581.0,99%,72,10%,6.50,...,"3,325","6,799","1,046",784.0,121,126.0,244.0,177.0,116.0,200
85,Great Dane,working,1.53,19,19,14662.0,95%,48,39%,6.96,...,"4,239","7,280","1,046",784.0,121,126.0,244.0,177.0,116.0,200
86,Saint Bernard,working,1.42,49,43,20022.0,52%,65,18%,7.78,...,"8,124","8,137","1,046",784.0,121,126.0,244.0,177.0,116.0,200
94,Anatolian Shepherd Dog,working,NaN,111,NaN,NaN,NaN,NaN,NaN,10.75,...,"6,548","11,244","1,046",784.0,121,126.0,244.0,177.0,116.0,200
100,Black Russian Terrier,working,NaN,128,NaN,NaN,NaN,NaN,NaN,1.83,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
104,Cane Corso,working,NaN,67,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
116,German Pinscher,working,NaN,137,NaN,NaN,NaN,NaN,NaN,11.42,...,NaN,"11,945","1,046",784.0,121,126.0,244.0,177.0,116.0,200
119,Great Pyrenees,working,NaN,71,NaN,NaN,NaN,64,NaN,10.00,...,NaN,"10,459","1,046",784.0,121,126.0,244.0,177.0,116.0,200
120,Greater Swiss Mountain Dog,working,NaN,82,NaN,NaN,NaN,NaN,NaN,6.80,...,NaN,"7,112","1,046",784.0,121,126.0,244.0,177.0,116.0,200
130,Komondor,working,NaN,166,NaN,NaN,NaN,NaN,NaN,9.17,...,NaN,"9,591","1,046",784.0,121,126.0,244.0,177.0,116.0,200
131,Kuvasz,working,NaN,148,NaN,NaN,NaN,42,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
133,Leonberger,working,NaN,103,NaN,15141.0,NaN,NaN,NaN,6.98,...,"4,251","7,301","1,046",784.0,121,126.0,244.0,177.0,116.0,200
139,Neapolitan Mastiff,working,NaN,110,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
151,Portuguese Water Dog,working,NaN,56,NaN,NaN,NaN,NaN,NaN,11.42,...,NaN,"11,945","1,046",784.0,121,126.0,244.0,177.0,116.0,200
164,Standard Schnauzer,working,NaN,91,NaN,NaN,NaN,18,NaN,NaN,...,NaN,NaN,"1,046",784.0,121,126.0,244.0,177.0,116.0,200
167,Tibetan Mastiff,working,NaN,122,NaN,23747.0,NaN,NaN,NaN,11.92,...,"4,771","12,468","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [108]:
best_in_show2 = pd.read_csv('best_in_show2.csv')

In [109]:
best_in_show2.head()

,Unnamed: 0,Dog breed,category,POPULARITY IN US,"LIFETIME COST, $",1 INTELLIGENCE (TRAINABILITY) ranking,NUM_LONGEVITY,3 NO. OF GENETIC AILMENTS,"4a average purchase price, US$",5a grooming required,5b suitability for children
0,1,Border Collie,herding,45,20143.0,1.0,12.52,2.0,623.0,2.0,3.0
1,2,Border Terrier,terrier,80,22638.0,30.0,14.00,0.0,833.0,2.0,1.0
2,3,Brittany,sporting,30,22589.0,19.0,12.92,0.0,618.0,2.0,2.0
3,4,Cairn Terrier,terrier,59,21992.0,35.0,13.84,2.0,435.0,2.0,1.0
4,5,Welsh Springer Spaniel,sporting,130,20224.0,31.0,12.49,1.0,750.0,2.0,1.0

In [110]:
best_in_show2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             172 non-null    int64
 1   Dog breed                              172 non-null    object
 2   category                               172 non-null    object
 3   POPULARITY IN US                       172 non-null    int64
 4   LIFETIME COST, $                       91 non-null     float64
 5   1 INTELLIGENCE (TRAINABILITY) ranking  132 non-null    float64
 6   NUM_LONGEVITY                          136 non-null    float64
 7   3 NO. OF GENETIC AILMENTS              148 non-null    float64
 8   4a average purchase price, US$         146 non-null    float64
 9   5a grooming required                   112 non-null    float64
 10  5b suitability for children            112 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.9+ KB